@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
  padding: 3rem;
  text-align: center;

  transition: background 0.3s linear, color 0.3s linear;
}

.toggle-container {
  position: fixed;
  top: 3rem;
  right: 3rem;
}

input {
  display: none;
}

.dark {
  background-color: #1f1f1f;
  color: white;
}

label {
  user-select: none;
  background-color: #1f1f1f;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s linear, color 0.3s linear;
}

body.dark label {
  background-color: white;
  color: #1f1f1f;
}

h1 {
  margin-top: 4rem;
}
